<mat-toolbar [color]="color.getColorMode()">
    <span>Beer App</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Settings" [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
    </button>
    
</mat-toolbar>

<!-- Add Color change to menu -->
<mat-menu class="menu" #menu>
    <button mat-menu-item (click)="color.swapColor()" *ngIf="color.isDarkMode()"><mat-icon>light_mode</mat-icon>Light mode</button>
    <button mat-menu-item (click)="color.swapColor()" *ngIf="!color.isDarkMode()"><mat-icon>dark_mode</mat-icon>Dark mode</button><button mat-menu-item>
        <mat-form-field>
            <mat-label>Beers to load</mat-label>
            <mat-select [formControl]="amountControl">
                <mat-option *ngFor="let amount of settings.getAmountToLoad()" [value]="amount">
                    {{amount}} per load
                </mat-option>
            </mat-select>
            <mat-hint>{{amountControl.value?.sound}}</mat-hint>
        </mat-form-field>
    </button>
    <button mat-menu-item>
        <mat-form-field>
            <mat-label>Beer Filter</mat-label>
            <mat-select [formControl]="typeControl">
                <mat-option *ngFor="let type of settings.getTypes()" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
            <mat-hint>{{typeControl.value?.sound}}</mat-hint>
        </mat-form-field>
    </button>
</mat-menu>
