<table mat-table [dataSource]="getBeersFiltered()" class="beer_table">
    <ng-container matColumnDef="producer1">
        <th mat-header-cell *matHeaderCellDef>
            <mat-form-field appearance="fill" class="header_margin">
                <mat-label>Select Producer</mat-label>
                <mat-select [formControl]="producer1Control">
                    <mat-option *ngFor="let producer of beerData.getProducers()" [value]="producer">
                        {{producer}}
                    </mat-option>
                </mat-select>
                <mat-hint>{{producer1Control.value?.sound}}</mat-hint>
            </mat-form-field>
        </th>

        <td mat-cell *matCellDef="let beer">
            <app-beer-card [beer]="beer[0]"></app-beer-card>
        </td>

        <td mat-footer-cell *matFooterCellDef>Button here</td>
    </ng-container>
  
    <ng-container matColumnDef="producer2">
        <th mat-header-cell *matHeaderCellDef>
            <mat-form-field appearance="fill" class="header_margin">
                <mat-label>Select Producer</mat-label>
                <mat-select [formControl]="producer2Control">
                    <mat-option *ngFor="let producer of beerData.getProducers()" [value]="producer">
                        {{producer}}
                    </mat-option>
                </mat-select>
                <mat-hint>{{producer2Control.value?.sound}}</mat-hint>
            </mat-form-field>
        </th>

        <td mat-cell *matCellDef="let beer">
            <app-beer-card [beer]="beer[1]"></app-beer-card>
        </td>

        <td mat-footer-cell *matFooterCellDef>Button here</td>
    </ng-container>
  
    <ng-container matColumnDef="producer3">
        <th mat-header-cell *matHeaderCellDef>
            <mat-form-field appearance="fill" class="header_margin">
                <mat-label>Select Producer</mat-label>
                <mat-select [formControl]="producer3Control">
                    <mat-option *ngFor="let producer of beerData.getProducers()" [value]="producer">
                        {{producer}}
                    </mat-option>
                </mat-select>
                <mat-hint>{{producer3Control.value?.sound}}</mat-hint>
            </mat-form-field>
        </th>

        <td mat-cell *matCellDef="let beer">
            <app-beer-card [beer]="beer[2]"></app-beer-card>
        </td>

        <td mat-footer-cell *matFooterCellDef>Button here</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;">{{row}}</tr>
    <tr mat-footer-row *matFooterRowDef="columns"></tr>
</table>